<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Productos</title>
</head>

<body>
  <h1>Bienvenido, {{user.email}}!</h1>
  <ul>
    {{#each products}}
      <li>
        {{this.title}} - {{this.price}}
        <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
      </li>
    {{/each}}
  </ul>

  <script>
    function addToCart(productId) {
      fetch(`/api/carts/<cartId>/addProduct/${productId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ quantity: 1 }),
      })
        .then(response => response.json())
        .then(data => {
          console.log('Producto agregado al carrito:', data);
        })
        .catch(error => console.error('Error al agregar el producto al carrito:', error));
    }
  </script>
</body>

</html>


